{% extends "layout.twig" %}

{% block content %}
	<div class="projects-feed">
		{% set entryQuery = entry.projectsFeatured %}
		{% set entries = entryQuery.all() %}
		{% for entry in entries %}
			<div class="projects-feed_item">
				<div class="projects-feed_background" style="background-color: {{ entry.backgroundColor }};"></div>
				<div class="projects-feed_project">
					<div class="projects-feed_project-cover-container">
						<a href="{{ entry.url }}">
							<img class="projects-feed_project-cover" src="{{ entry.headerImage.one.url }}" alt="">
						</a>
					</div>
				</div>
				<div class="projects-feed_titles-container">
					<div class="projects-feed_titles" style="color: {{ entry.backgroundColor }};">
						<h3 class="project-type">{{ entry.projectType }}</h3>
						<h2 class="project-title">{{ entry.title }}</h2>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="cta-container">
			<a href="/cristina/projects">
				<h2 class="cta-text">{{ entry.callToAction }}</h2>
			</a>
		</div>
	</div>
{% endblock %}
