<nav class="navbar sticky-top navbar-expand-lg main-nav">
	<a class="navbar-brand" href="home">
		<img class="navbar-logo" src="{{ navbar.navbarLogo.one.url }}">
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon">{{include("burgermenu.twig") }}</span>
	</button>

	<div class="collapse navbar-collapse justify-content-end">
		<div class="navbar-nav">
			<a class="nav-item nav-link {{ entry.uri == 'projects' or entry.type == 'project' ? 'active' : ''}}" href="projects">Projects</a>
			<a class="nav-item nav-link {{ entry.uri == 'about' ? 'active' : ''}}" href="#">About</a>
			<a class="nav-item nav-link {{ entry.uri == 'contact' ? 'active' : ''}}" href="#">Contact</a>
		</div>
	</div>
</nav>

{% if navbar.navbarBackgroundColor %}
	<style type="text/css">
		.main-nav {
			background: {{navbar.navbarBackgroundColor.getHex()}}
			;

		}
	</style>
{% endif %}
