{% extends "layout.twig" %}
{% block content %}

	<div class="project-header-img" style="background-image: url('{{ entry.headerImage.one.url }}');"></div>

	<div class="project-description">
		<h1>{{ entry.title }}</h1>
		{{ entry.projectDescription }}
	</div>

	<div class="gallery-container">
		{% set projectGallery = entry.projectGallery.all()  %}
		{% if projectGallery|length %}
			{% for img in projectGallery %}
				<div class="gallery-image">
					<img src="{{ img.url }}" alt="{{ img.filename }}">
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
